* {
    margin: 0 auto;
    padding: 0;
}
.tong {
    width: 960px;
}
.logo {
    text-align: center;
}
.menu {
    height: 50px;
    background-color: darkblue;
    width: 980px;
}
.menu ul li {
    margin-top: 17px;
    list-style: none;
    text-decoration: none;
    text-align: center;
    float: left;
    width: 9%;
}
.menu ul li  a{ 
    color: white;
    text-decoration: none;
    
}
.menu ul li  a:hover {
    text-decoration: underline;
} 
.menu form {
    float: right;
    margin-top: 17px;
    margin-right: 25px;
}
.menu form button {
    background-color: red;
    color: white;
}
.text1 {
    font-size: 25px;
    font-weight: bold;
    color: darkblue;
    margin-top: 5px;
}
footer {
    width: 980px;
    height: 50px;
    background: #272f54;
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    margin-top: 10px;
}
.nd {
    height: 360px;
    border: 0.5px solid #cccc;
    text-align: center;
    float: left;
    margin-top: 10px;
    margin: 40px;
}
.chu h4 {
    float: left;
    margin-left: 10px;
    font-size: 28px;
    color: rgb(132, 64, 171);
}
.chu {
    margin-top: 20px;
}
.dathang {
    width: 165px;
    height: 35px;
    background: #2b2f30;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    margin-left: 80px;
    margin-top: 20px;
    padding-top: 5px;
    margin-left: 40px;
}
.dathang p:hover {
    color:red;
    text-decoration: underline;
}
.text2 {
    font-size: 20px;
    color: red;
    font-weight: bold;
}
.new2 {
    border: 1px solid black;
    height: 300px;
    margin-top: 20px;
}
.new2 .anh2 {
    float: left;
    padding-left: 15px;
    padding-top: 10px;
    height: 39%;
}
.new2 .text3 {
    float: right;
    width: 48%;
    margin-top: 20px;
}
.new2 h4 {
    font-size:30px;
    font-weight: bold;
    color: plum;
}
.new2 p {
    margin-top: 5px;
    font-size: 15px;
    margin-top: 20px;
}
